body{
  background-image: url("Modeaheader.png"), url("Modeafooter.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, 100%;
  background-position:top, bottom;
  padding: 15%;
}

h1 {
  font-family: "Open Sans";
  font-size: 2em;
  color: #144d54;
}

.title {
  font-family: "Open Sans";
  font-size: 2em;
  font-style: bold;
  text-align: center;
  color: #000000;
  padding-bottom: 3%;
}

#site-health-what-is-working {
  padding-top: 5%;
}

h2 {
  font-family: "Open Sans";
  font-size: 1.8em;
  font-style: italic;
  text-align: center;
  color: #000000;
}

h3 {
  font-family: "Open Sans";
  font-size: 1.65em;
  color: #434343;
}

h4 {
  font-family: "Open Sans";
  font-size: 1.5em;
  color: #666666;
}

/* the css selector "code" can be added to modify printed tibbles and echoed code */

p, td, th, ul, ol {
  font-family: "Open Sans";
  font-size: 1.1em;
  color: #000000;
}
